@charset "UTF-8";
/*API acss.aoove.com*/
body{ font: 14px/1.5 Verdana,Helvetica,Arial,"\5b8b\4f53",sans-serif; color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset{border:0}
img{border:0; max-width:100%; display:block;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,audio,canvas,video { display: block; }
audio:not([controls]) { display: none; height: 0; }
svg:not(:root) {overflow: hidden;}
[hidden],template { display: none;}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a { text-decoration:none; color:#333; }
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	   url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	   url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*iconfont*/
.i-f{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.c:before,.c:after,.w:before,.w:after{
	content: " "; display: table;
}
.c:after,.w:after{
	clear: both;
}
.c,.w{
	zoom:1;/*zoom<IE8*/
}
.w {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:768px) {.w {width:750px;}}
@media (min-width:992px) {.w {width:980px;}}
@media (min-width:1200px) {.w {width:1180px;}}
.g{float:left}
.x1,.x01>.g{width:8.33333333%}.x1-2,.x01-2>.g{width:10%}.x1-5,.x01-5>.g{width:12.5%}.x2,.x02>.g{width:16.66666667%}.x2-4,.x02-4>.g{width:20%}.x3,.x03>.g{width:25%}.x4,.x04>.g{width:33.33333333%}.x5{width:41.66666667%}.x6,.x06>.g{width:50%}.x7{width:58.33333333%}.x8{width:66.66666667%}.x9{width:75%}.x10{width:83.33333333%}.x11{width:91.66666667%}.x12,.x012>.g{width:100%}
@media(min-width:768px){.s1,.s01>.g{width:8.33333333%}.s1-2,.s01-2>.g{width:10%}.s1-5,.s01-5>.g{width:12.5%}.s2,.s02>.g{width:16.66666667%}.s2-4,.s02-4>.g{width:20%}.s3,.s03>.g{width:25%}.s4,.s04>.g{width:33.33333333%}.s5{width:41.66666667%}.s6,.s06>.g{width:50%}.s7{width:58.33333333%}.s8{width:66.66666667%}.s9{width:75%}.s10{width:83.33333333%}.s11{width:91.66666667%}.s12,.s012>.g{width:100%}}
@media(min-width:992px){.m1,.m01>.g{width:8.33333333%}.m1-2,.m01-2>.g{width:10%}.m1-5,.m01-5>.g{width:12.5%}.m2,.m02>.g{width:16.66666667%}.m2-4,.m02-4>.g{width:20%}.m3,.m03>.g{width:25%}.m4,.m04>.g{width:33.33333333%}.m5{width:41.66666667%}.m6,.m06>.g{width:50%}.m7{width:58.33333333%}.m8{width:66.66666667%}.m9{width:75%}.m10{width:83.33333333%}.m11{width:91.66666667%}.m12,.m012>.g{width:100%}}
@media(min-width:1200px){.l1,.l01>.g{width:8.33333333%}.l1-2,.l01-2>.g{width:10%}.l1-5,.l01-5>.g{width:12.5%}.l2,.l02>.g{width:16.66666667%}.l2-4,.l02-4>.g{width:20%}.l3,.l03>.g{width:25%}.l4,.l04>.g{width:33.33333333%}.l5{width:41.66666667%}.l6,.l06>.g{width:50%}.l7{width:58.33333333%}.l8{width:66.66666667%}.l9{width:75%}.l10{width:83.33333333%}.l11{width:91.66666667%}.l12,.l012>.g{width:100%}}
.xs8,.xs8>.g,.xs08>.g{padding-right:4px;padding-left:4px}.xs08{margin-right:-4px;margin-left:-4px}.xs10,.xs10>.g,.xs010>.g{padding-right:5px;padding-left:5px}.xs010{margin-right:-5px;margin-left:-5px}.xs20,.xs20>.g,.xs020>.g{padding-right:10px;padding-left:10px}.xs020{margin-right:-10px;margin-left:-10px}.xs30,.xs30>.g,.xs030>.g{padding-right:15px;padding-left:15px}.xs030{margin-right:-15px;margin-left:-15px}
@media(min-width:768px){.ss10,.ss10>.g,.ss010>.g{padding-right:5px;padding-left:5px}.ss010{margin-right:-5px;margin-left:-5px}.ss20,.ss20>.g,.ss020>.g{padding-right:10px;padding-left:10px}.ss020{margin-right:-10px;margin-left:-10px}.ss30,.ss30>.g,.ss030>.g{padding-right:15px;padding-left:15px}.ss030{margin-right:-15px;margin-left:-15px}.ss40,.ss40>.g,.ss040>.g{padding-right:20px;padding-left:20px}.ss040{margin-right:-20px;margin-left:-20px}.ss10,.ss20,.ss30,.ss40{margin-right:0;margin-left:0}.ss010,.ss020,.ss030,.ss040{padding-right:0;padding-left:0}}
@media(min-width:992px){.ms10,.ms10>.g,.ms010>.g{padding-right:5px;padding-left:5px}.ms010{margin-right:-5px;margin-left:-5px}.ms20,.ms20>.g,.ms020>.g{padding-right:10px;padding-left:10px}.ms020{margin-right:-10px;margin-left:-10px}.ms30,.ms30>.g,.ms030>.g{padding-right:15px;padding-left:15px}.ms030{margin-right:-15px;margin-left:-15px}.ms40,.ms40>.g,.ms040>.g{padding-right:20px;padding-left:20px}.ms040{margin-right:-20px;margin-left:-20px}.ms10,.ms20,.ms30,.ms40{margin-right:0;margin-left:0}.ms010,.ms020,.ms030,.ms040{padding-right:0;padding-left:0}}
@media(min-width:1200px){.ls10,.ls10>.g,.ls010>.g{padding-right:5px;padding-left:5px}.ls010{margin-right:-5px;margin-left:-5px}.ls20,.ls20>.g,.ls020>.g{padding-right:10px;padding-left:10px}.ls020{margin-right:-10px;margin-left:-10px}.ls30,.ls30>.g,.ls030>.g{padding-right:15px;padding-left:15px}.ls030{margin-right:-15px;margin-left:-15px}.ls40,.ls40>.g,.ls040>.g{padding-right:20px;padding-left:20px}.ls040{margin-right:-20px;margin-left:-20px}.ls10,.ls20,.ls30,.ls40{margin-right:0;margin-left:0}.ls010,.ls020,.ls030,.ls040{padding-right:0;padding-left:0}}
